@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/data.css" />
</head>

<body>
    <div class="text-center">
        <h1>Text converter</h1>
    </div>
</body>